body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin-left: 0;
  margin-right: 0;

}

/* Profile */
.profile-container {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding: 1rem;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.profile-header img {
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
}

.profile-header p {
  font-size: 1.65rem;
  font-weight: bold;
  margin: 10px;
}

.profile-bio {
  font-size: 1.25rem;
}

.contact-me {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Info */

.info-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.info-container h1 {
  margin: 0.5rem;
  font-size: 2rem;
}

.info-container a {
  text-decoration: none;
  color: #333;
  font-size: 1.25rem;
}

/* Media Responsive */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .profile-container {
    padding: 2rem;
  }

  .info-container {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    display: flex;
  }

  .profile-container {
    flex-direction: column;
    gap: 2rem;
    width: 27rem;
    height: 100vh;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
