body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* Sidebar Styles */
.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  width: 25%;
  background-color: #f0f0f0;
  padding: 20px;
}

.sidebar-profile {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.sidebar img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-info h1 {
  margin: 5px;
}

.profile-info h2 {
  margin: 5px;
}

.sidebar p {
  font-size: 18px;
  font-weight: 500;
}

.contact-info {
  margin-top: 20px;
}

/* Main Styles */

.main {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 20px;
}

.main h1 {
  margin-bottom: 10px;
}


.main a {
  text-decoration: none;
  color: #333;
}
